body {
    background-color: #fafafa;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    margin-top: 20px;
}

footer {
    text-align: center;
    margin-top: 40px;
}

footer .logo {
    text-align: center;
    margin-bottom: 10px;
}

#index {
    text-align: center;
    padding-top: 70px;
}

#index .logo {
    margin-bottom: 40px;
}

#room-form {
    padding: 0 10px;
}

.room-title {
    text-align: center;
    font-size: 24px;
}

#post-list {
    padding: 10px;
}

#post-list a {
    color: blue;
}

#post-list .name {
    color: #090;
}

#post-form {
    padding: 0 10px;
}

#post-form h2 {
    font-size: 20px;
    margin-top: 0;
}

#post-form .mdl-card {
    text-align: center;
}

.post-info .user-id {
    font-size: 13px;
}

li.post {
    margin-bottom: 20px;
}

.form-error {
    color: red;
}

.help-text {
    color: grey;
}

.mdl-card {
    width: 100%;
    padding: 20px 10px;
}
