body {
    background-color: #dfdfdf;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

footer {
    text-align: center;
    margin-top: 50px;
}

footer .logo {
    text-align: center;
    margin-bottom: 20px;
}

#index {
    text-align: center;
    padding-top: 70px;
}

#index .logo {
    margin-bottom: 40px;
}

.room-title {
    text-align: center;
    font-size: 24px;
}

.wrapper {
    width: 90%;
    margin: 20px auto 20px auto;
    padding: 20px;
    background-color: #f1f2e7;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .6), 0 2px 0 rgba(255, 255, 255, .15) inset;
}

.post_list h2 {
    font-size: 20px;
}

.post_list li {
    font-size: 14px;
}

.post_list a {
    color: blue;
}

.post_form {
    text-align: center;
}

.post_form h2 {
    font-size: 20px;
}

.form-error {
    color: red;
}

.help-text {
    color: grey;
}

.name {
    color: #090;
}
