{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block extrahead %}
    <meta property="og:title" content="{{ title }}"/>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="index">
        <img class="logo" src="{% static 'images/logo.png' %}" alt="logo">
        <div id="room-form">
            <div class="mdl-card mdl-shadow--2dp">
                <p>
                    匣（はこ）は、アカウント無しですぐに使える匿名プライベートチャットサービスです。<br>
                    部屋名を入力するだけですぐにプライベートチャットを開始できます。<br>
                    部屋は URL を共有した相手のみが参加できます。
                </p>
                <form class="room-form" name="room_form" action="./" method="post">{% csrf_token %}
                    {% for field in room_form %}
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            {{ field }}
                            <label class="mdl-textfield__label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        </div>
                        {% for error in field.errors %}
                            <p class="form-error">{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                    <br>
                    <button
                            class="g-recaptcha mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                            data-sitekey="{{ recaptcha_site_key }}"
                            data-callback="onSubmit"
                            type="submit">
                        部屋を作る
                    </button>
                </form>
            </div>
        </div>
    </div>

    <footer>
        <hr>
        <p>&copy; {% now 'Y' %} 匣</p>
    </footer>
{% endblock %}
