{% extends "base.html" %}

{% block title %}{{ title }} - 匣{% endblock %}

{% block extrahead %}
    <meta name="robots" content="noindex, nofollow, noarchive">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const textarea = document.post_form.body;
            textarea.addEventListener('keydown', e => {
                if (e.keyCode === 13 && e.metaKey) {
                    const input = document.createElement('input');
                    input.setAttribute('type', 'hidden');
                    input.setAttribute('name', 'action');
                    input.setAttribute('value', 'save');
                    const form = document.forms.post_form;
                    form.appendChild(input);
                    form.submit();
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h1 style="text-align: center"><a href="/">匣</a></h1>
    <h2 style="text-align: center">{{ room.name }}</h2>

    <div class="wrapper">
        <div class="post_list">
            <h2>投稿一覧 ({{ posts_num }} 件)</h2>
            <ul>
                <li class="post">
                    <p>
                        <span class="index">{{ initial_post.index }}</span>
                        <span class="name">{{ initial_post.name }}</span>
                        <span class="date">{{ initial_post.created_at | date:"Y/m/d(D) h:m:s" }}</span>
                    </p>
                    <p>{{ initial_post.body }}</p>
                </li>
                {% for post in posts %}
                    <li class="post">
                        <p>
                            <span class="index">{{ post.index }}</span>
                            <span class="name">{{ post.name }}</span>
                            <span class="date">{{ post.created_at | date:"Y/m/d(D) h:m:s" }}</span> ID:<span
                                class="user_id">{{ post.user_id }}</span>
                        </p>
                        <p>{{ post.body }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="post_form">
            <h3><span class="fa fa-comment"></span> コメントを投稿</h3>
            <form name="post_form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                <p><span class="fa fa-user"></span> <input type="text" name="name" placeholder="名無しさん" value=""
                                                           maxlength="191" style="width:280px;"></p>
                <p><span class="fa fa-upload"></span> <input type="file" name="image"></p>
                <p><textarea name="body" cols="70" rows="10" wrap="hard" placeholder="コメント内容" required></textarea></p>
                <span>Ctrl (MacOS の場合は Command) + Enter でも投稿できます。</span>
                <br><br>
                <button class="btn" type="submit" name="action" value="save">書き込む</button>
            </form>
        </div>
    </div>
{% endblock %}
