{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }} - 匣{% endblock %}

{% block extrahead %}
    <meta name="robots" content="noindex, nofollow, noarchive">
    <script defer>
        document.addEventListener('DOMContentLoaded', () => {
            const textarea = document.post_form.body;
            textarea.addEventListener('keydown', e => {
                if (e.keyCode === 13 && e.metaKey) {
                    const input = document.createElement('input');
                    input.setAttribute('type', 'hidden');
                    input.setAttribute('name', 'action');
                    input.setAttribute('value', 'save');
                    const form = document.forms.post_form;
                    form.appendChild(input);
                    form.submit();
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div id="content">
        <div id="post-list">
            <div class="mdl-card mdl-shadow--2dp">
                <h2 class="room-title" style="text-align: center">{{ room.name }}</h2>
                <ul>
                    <li class="post">
                        <div class="post-info">
                            <span class="index">{{ initial_post.index }}</span>
                            <span class="name">{{ initial_post.name }}</span>
                            <span class="date">{{ initial_post.created_at | date:"Y/m/d(D) h:m:s" }}</span>
                        </div>
                        <p class="body">{{ initial_post.body | linebreaksbr }}</p>
                    </li>
                    {% for post in posts %}
                        <li class="post">
                            <div class="post-info">
                                <span class="index">{{ post.index }}</span>
                                <span class="name">{{ post.name }}</span>
                                <span class="date">{{ post.created_at | date:"Y/m/d(D) h:m:s" }}</span>
                                <span class="user-id">ID:{{ post.user_id }}</span>
                            </div>
                            <p class="body">{{ post.body | urlize | linebreaksbr }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div id="post-form">
            <div class="mdl-card mdl-shadow--2dp">
                <h2><i class="material-icons">comment</i> コメントを投稿</h2>
                <form name="post_form" action="" method="post">{% csrf_token %}
                    {% for field in post_form %}
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            {{ field }}
                            <label class="mdl-textfield__label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        </div>
                        <br>
                        {% for error in field.errors %}
                            <p class="form-error">{{ error }}</p>
                        {% endfor %}
                        {% if field.help_text %}
                            <small class="help-text">{{ field.help_text }}</small>
                        {% endif %}
                    {% endfor %}
                    <br><br>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">書き込む
                    </button>
                </form>
            </div>
        </div>
    </div>

    <footer>
        <div class="logo">
            <a href="{% url 'web:index' %}">
                <img src="{% static 'images/logo.png' %}" alt="logo" width="100" height="100">
            </a>
        </div>
        <p>&copy; {% now 'Y' %} 匣.</p>
    </footer>
{% endblock %}
