{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:url" content="https://hako-chat.herokuapp.com"/>
    <meta property="og:image" content="{% static 'images/logo.png' %}"/>
    <meta property="og:site_name" content="匣"/>
    <meta property="og:description" content="匣（はこ）は、アカウント無しですぐに使える匿名プライベートチャットサービスです。"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@sapuri_tappuri"/>
    <meta name="description" content="匣（はこ）は、アカウント無しですぐに使える匿名プライベートチャットサービスです。">
    <title>{% block title %}匣{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_purple-red.min.css"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    {% block extrahead %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
